<!-- app/templates/admin/voters/voters.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Vote Details{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Votes</h1>
        {% if vote %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Voted To </th>
                  <th width="30%"> Poll </th>
                  <th width="30%"> Voter </th>
                  <th width="15%"> Others </th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                      <td> {{ vote.vaoted_to }}  </td>
                      <td>
                        {% if vote.poll %}
                          {{ vote.poll.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if vote.voter %}
                          {{ vote.voter.username }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                          <<a href="{{ url_for('admin.list_votes') }}">
                          <i class="fa fa-user-plus"></i> Votes
                        </a>
                      </td>
                    </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}